{% extends 'base.html.twig' %}

{% block main %}
    <article>
        <h2>{{ author.firstName }} {{ author.lastName }}</h2>
        <p>né le {{ author.birthDate|date ('d-M-y') }} et décédé le {{ author.deathDate|date ('d-M-y') }}</p>
        <p>Livres majeurs :</p>
        {% for book in author.books %}
            <p>{{ book.title }}</p>
        {% endfor %}
    </article>
{% endblock %}