{% extends 'base.html.twig' %}

{% block main %}

    {% for author in authors %}
        <article>
            <h2>{{ author.firstName }} {{ author.lastName }}</h2>
            <p>né le {{ author.birthDate|date ('d-M-y') }} et décédé le {{ author.deathDate|date ('d-M-y') }}</p>
            <a href="{{ path('admin-author',{'id':author.id}) }}">Voir l'auteur</a>
            <a href="{{ path('admin-update-author',{'id':author.id}) }}">Modifier l'auteur</a>
            <a href="{{ path('admin-delete-author',{'id':author.id}) }}">Supprimer l'auteur</a>
        </article>
    {% endfor %}
    {% for book in books %}
        <article>
            <h2>{{ book.title }}</h2>
            <a href="{{ path('admin-book',{'id':book.id}) }}">Voir le livre</a>
            <a href="{{ path('admin-update-book',{'id':book.id}) }}">Modifier le livre</a>
            <a href="{{ path('admin-delete-book',{'id':book.id}) }}">Supprimer le livre</a>
        </article>
    {% endfor %}
{% endblock %}